body {
  font-size: 14px;
  background: #0e83cd;
  color: #fff;
}
p { 
  margin: 10px 0;
  text-transform: uppercase;
}
a { color: #252525; cursor: pointer; text-decoration: none; }
a:hover,
a:focus {
  color: #707070;
  text-decoration: none;
  transition: all 0.25s;
}
a.btn {
  height: auto;
  line-height: 40px;
}
.btn:hover,
.btn:focus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn {
  border-radius: 0;
  border: none;
  font-family: 'Montserrat';
  font-size: 14px;
  background: none;
  cursor: pointer;
  padding: 0 25px;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* Transparent, Border White, Text White */
.btn-1e {
  border: 1px solid #fff;
  color: #fff;
}
.btn-1e:hover, .btn-1e:active {
  color: #252525;
}
.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

/* Transparent, Border black, Text black */
.btn-2e {
  border: 1px solid #252525;
  color: #252525;
}
.btn-2e:hover, .btn-2e:active {
  color: #fff;
}
.btn-2e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #252525;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-2e:hover:after {
  height: 260%;
  opacity: 1;
}

/* Add To Cart White, Border Gray, Text Back */
/*.btn-addcart {
  border: 1px solid #ebebeb;
  background: #fff;
  color: #252525;
  display: block;
}
.btn-addcart:hover, .btn-addcart:active {
  border: 1px solid #252525;
  background: none;
  color: #fff;
}
.btn-addcart:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #252525;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-addcart:hover:after {
  height: 260%;
  opacity: 1;
}*/

/*  White, Text Black */
.btn-3e {
  border: 1px solid transparent;
  background: #fff;
  color: #252525;
}
.btn-3e:hover, .btn-3e:active {
  border: 1px solid #fff;
  background: none;
  color: #252525;
}
.btn-3e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-3e:hover:after {
  height: 260%;
  opacity: 1;
}

/*  Black, Text White */
.btn-4e {
  border: 1px solid transparent;
  background: #252525;
  color: #fff;
}
.btn-4e:hover, .btn-4e:active {
  border: 1px solid #252525;
  background: none;
  color: #fff;
}
.btn-4e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #252525;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-4e:hover:after {
  height: 260%;
  opacity: 1;
}

/* Transparent, Border Gray, Text Glack*/
.btn-5e {
  border: 1px solid #707070;
  color: #fff;
}
.btn-5e:hover, .btn-5e:active {
  color: #fff;
}
.btn-5e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #707070;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-5e:hover:after {
  height: 260%;
  opacity: 1;
}

/* Transparent, Border Gray, Text Glack*/
.btn-6e {
  border: 1px solid #e1e1e1;
  background: #fff;
  color: #252525;
}
.btn-6e:hover, .btn-6e:active {
  border: 1px solid #e1e1e1;
  background: none;
  color: #252525;
}
.btn-6e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-6e:hover:after {
  height: 260%;
  opacity: 1;
}