body {
  font-size: 14px;
  background: #0e83cd;
  color: #fff;
}
p { 
  margin: 10px 0;
  text-transform: uppercase;
}
a { color: #252525; cursor: pointer; text-decoration: none; }
a:hover,
a:focus {
  color: #707070;
  text-decoration: none;
  transition: all 0.25s;
}
a.btn {
  height: auto;
  line-height: 40px;
}
.btn:hover,
.btn:focus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn {
  border-radius: 0;
  border: none;
  font-family: 'Montserrat';
  font-size: 14px;
  background: none;
  cursor: pointer;
  padding: 0 25px;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn { 
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn-1e:hover:after,
.btn-2e:hover:after,
.btn-3e:hover:after,
.btn-4e:hover:after,
.btn-5e:hover:after,
.btn-6e:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btn-1e:after,
.btn-2e:after,
.btn-3e:after,
.btn-4e:after,
.btn-5e:after,
.btn-6e:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* Transparent, Border White, Text White */
.btn-1e {
  border: 1px solid #fff;
  color: #fff;
}
.btn-1e:after {
  background: #fff;
}
.btn-1e:hover, .btn-1e:active {
  color: #252525;
}

/* Transparent, Border black, Text black */
.btn-2e {
  border: 1px solid #252525;
  color: #252525;
}
.btn-2e:hover, .btn-2e:active {
  color: #fff;
}
.btn-2e:after {
  background: #252525;
}

/*  White, Text Black */
.btn-3e {
  background: #fff;
  color: #252525;
}
.btn-3e:hover, .btn-3e:active {
  background: #fff;
  color: #fff;
}
.btn-3e:after {
  background: #252525;
}

/*  Black, Text White */
.btn-4e {
  background: #252525;
  color: #fff;
}
.btn-4e:hover, .btn-4e:active {
  background: #252525;
  color: #252525;
}
.btn-4e:after {
  background: #fff;
}

/* Transparent, Border Gray, Text Glack*/
.btn-5e {
  border: 1px solid #707070;
  color: #fff;
}
.btn-5e:hover, .btn-5e:active {
  color: #fff;
}
.btn-5e:after {
  background: #707070;
}

/* Transparent, Border Gray, Text Glack*/
.btn-6e {
  background: #fff;
  color: #252525;
}
.btn-6e:hover, .btn-6e:active {
  background: #fff;
  color: #fff;
}
.btn-6e:after {
  background: #252525;
}